
*.pyc

*.pdf
.*


tests/anova_tests/**

experiments/pca/results/*

experiments/celine_ageing/*.png


experiments/classify/data/**

experiments/celine_ageing/scripts/int_summary/
experiments/celine_ageing/scripts/int_avg_maps/*
experiments/celine_ageing/scripts/ageing_celine_feats\.csv
experiments/celine_ageing/scripts/ageing_celine\.csv
*.pkl
.DS_Store
build
tierpsy_features.egg-info/
.DS_Store
